html,body,#root{
  height:100%;
  color:#fefefe;
}

label{
  color:#fefefe;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li{
  list-style-type: none;
}

.Fondo{
  background-color: #12161f;
  height:100%;
  width: 100%;
}

#LoginDiv{
  display:flex;
  align-items:center;
}

.Elemento{
  background-color:#2e3442;
  padding:1.4%;
  margin: 10px 10px 0 0;
}

#AltaGasto{
  text-align: center;
}
table{
  margin:0 5px 0 0;
}
#LoginDiv td{
  width:145px;
  text-align:right;
}

.centrar{
  text-align:center;
}

h4{
  text-align: center;
  
}

label{
  color:#fefefe;
  width: 400px;
}

#LoginDiv input{
  font-size: 16px;
}

input,select{
  border:none;
  background-color: #43485a;
  color:#fefefe;
  padding:6px;
  font-size:14px
}

select{
  width:100%;
}
.izquierda{
  width:65px;
}
input[type="button"]{
  margin:10px 0 0 0;
  padding:6px;
}

#ListaGastos input[type="button"]{
  margin:0;
}

abbr{
  text-decoration:none;
}

